extends layout.pug 

block content 
  main.content 
    h1.page-title All Notes

      each val in notes
        a(href =`notes/${val.id}`) #{ val.title}

      if notes.length 
        each note in notes 
          a.note(href='/notes/detail')= note 
      else 
        p There are no notes yet 